<footer class="footer-bottom footer">
  <div class="container">
    <div class="footer-bottom-container">
      <div class="website-copyright">
        &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
      </div>
    </div><!-- /footer-bottom-container -->
  </div><!-- /container -->
</footer><!-- /footer-bottom -->
