@media (min-width: 576px) {

}

@media (min-width: 768px) {
  /* Header */
  .site-brand img {
    max-height: 60px;
  }
  .features {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  /* Header */
  .site-brand img {
    max-height: 80px;
  }
  /* Header -> Main menu */
  .menu-wrap ul.menu li {
    background: linear-gradient(to bottom, transparent 50%, var(--header-top-bg) 50%);
    background-size: 100% 200%;
    transition: all 0.2s linear;
  }
  .menu-wrap ul.menu li:hover {
    background-position: 0 -100%;
  }
  ul.main-menu li a:hover {
    color: var(--theme-color);
  }
  .menu-wrap ul.menu li.expanded:hover .dropdown-arrow,
  .menu-wrap ul.menu li.collapsed:hover .dropdown-arrow {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
  }
  .menu-wrap ul.menu ul.submenu {
    top: 36px;
    background-color: var(--theme-color-three);
  }
  .menu-wrap ul.menu ul.submenu li {
    border-bottom: 1px solid var(--theme-color);
  }
  .menu-wrap ul.menu ul.submenu li a:hover {
    color: #ffffff;
  }
}
@media (min-width: 1170px) {
  /* Header */
  .site-brand img {
    max-height: 90px;
  }
}
