/*
 * Custom Shortcodes
 */
 .yellow {
  color: var(--yellow);
}

/* 
 * Buttons
 */
.link-button {
  display: inline-block;
  color: var(--header-top-bg);
  border: 4px solid var(--header-bg);
  border-radius: 30px;
  padding: 0.8rem 1.8rem;
  transition: all 0.3s ease;  
}

.link-button:hover {
  background-color: var(--header-bg);
  color: #ffffff;
  border: 4px solid var(--theme-color);
}
/* 
 * Features
 */
.features {
  display: flex;
}
.feature {
  background-color: #ffffff;
  margin: 0;
  padding: 2rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s linear;
  margin-right: 1rem;
  backface-visibility: hidden;
}
.feature:last-child {
  margin-right: 0;
}
.feature:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  transform: translateY(-20px);
}
.feature-icon {
  margin-bottom: 1.5rem;
  padding: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c4c6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px 2px #ffffff;
}
.feature:hover .feature-icon {
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #c4c6f2;
}
.feature .link-button {
  display: inline-block;
}