#comments {
  position: relative;
  margin: 0;
}
.comments-title {}
.comments-title i {
  font-size: 1em;
}
.comment-form-wrap {
  position: relative;
  margin: 2rem 0 1rem 0;
}
.add-comment-title {
  margin: 0;
}
.add-comment-title i {
  font-size: 1em;
}
.comment-form label {
  display: block;
}
/* Comments -> single comment */
.single-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 0;
  background: #dfe6e9;
}
.comment-user-picture {
  position: relative;
  padding: 0 4px;
  border-right: 1px solid var(--border);
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}
.comment-user-picture img {
  max-width: 100px;
  height: auto;
}
h3.single-comment-title {
  margin: 0.1rem 0;
  font-size: 1.2rem;
}
.single-comment-meta {
  width: 100%;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 0.9em;
  border-bottom: 1px solid var(--border);
}
.single-comment-content-body {
  position: relative;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}
#comments .indented {
  margin-left: 4rem;
}
.comment-delete,
.comment-edit {
  margin-right: 0.8rem;
}
.comment-reply a,
.comment-delete a,
.comment-edit a {
  padding: 4px 16px;
  border: 2px solid var(--border);
}
.comment-reply a:hover,
.comment-delete a:hover,
.comment-edit a:hover {
  background: var(--theme-color);
  color: #ffffff;
}
