/**
 * footer
 */
/* Footer -> Footer Top */
.footer-top {
  position: relative;
  background: #576574;
  color: var(--light);
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-top-container {
  position: relative;
  padding: 1rem 0;
}
/* Footer -> 4 Column blocks */
.footer-blocks {
  position: relative;
  background: #222f3e;
  color: var(--light);
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-blocks-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
/* Footer -> Footer Bottom */
.footer-bottom-blocks {
  position: relative;
  background: #222f3e;
  color: var(--light);
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-bottom-blocks-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}
.footer-bottom {
  position: relative;
  background: #222f3e;
  color: var(--light);
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-bottom-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}
